# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ourmoney?retryWrites=true&w=majority

# NextAuth
# Generate a secret with: npx auth secret
AUTH_SECRET=

# Google Provider
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
