# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ourmoney?retryWrites=true&w=majority

# NextAuth
# Generate a secret with: npx auth secret
AUTH_SECRET=

# Facebook Provider
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=
